
TheTemplate/.vs/tmpl_2019-08/FileContentIndex/20c4abf7-e6e6-44d5-8f40-df8544c3206a.vsidx
TheTemplate/.vs/tmpl_2019-08/v17/ipch/AutoPCH/72a2600850c6b09e/GAME.ipch
TheTemplate/.vs/tmpl_2019-08/v17/.suo
TheTemplate/.vs/tmpl_2019-08/v17/Browse.VC.db
TheTemplate/.vs/tmpl_2019-08/v17/Browse.VC.db-shm
TheTemplate/.vs/tmpl_2019-08/v17/Browse.VC.opendb
TheTemplate/.vs/tmpl_2019-08/v17/.suo
